exportPattern("M3Drop*")
exportPattern("bg__*")
export(BrenneckeGetVariableGenes)
import(RColorBrewer)
import(gplots)
import(bbmle)
import(statmod)
importFrom("grDevices", "col2rgb", "colorRampPalette", "densCols")
importFrom("graphics", "abline", "axis", "box", "curve", "frame", "hist", "image", "legend", "lines", "mtext", "par", "points", "text", "title")
importFrom("stats", "aggregate", "dist", "dnorm", "fitted", "glm", "hclust", "lm", "median", "p.adjust", "pchisq", "pnorm", "quantile", "rnorm", "sd", "uniroot", "var", "wilcox.test")
importFrom("matrixStats", "rowSds")
